node_modules
dist
dist-buyer
dist-seller
dist-delivery
dist-apk
.DS_Store
*.log
.env
ios/App/Pods
ios/App/App/public
ios-buyer/App/Pods
ios-buyer/App/App/public
ios-buyer/DerivedData
ios-seller/App/Pods
ios-seller/App/App/public
ios-seller/DerivedData
ios-delivery/App/Pods
ios-delivery/App/App/public
ios-delivery/DerivedData
android-buyer/app/build
android-buyer/app/src/main/assets/public
android-seller/app/build
android-seller/app/src/main/assets/public
android-delivery/app/build
android-delivery/app/src/main/assets/public
.tsbuildinfo
tsconfig.tsbuildinfo
local.properties
*.keystore
*.jks
